.selectable {
    background-color: lightgreen;
}

.row-select { 
    background-color: red;
}

table { 
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}