<h1>Angular ONLY - No JQuery - No Change Needed to Existing Install</h1>
<h3>Row Selections:</h3>
<textarea readonly>{{selectedRowsText}}</textarea>
    <div id="select-box" [ngClass]="{'select-box': !isMouseDown}" [ngStyle]="selectBoxStyle"></div>"
    <table #myDataTable id="angularSelectTable" class="table table-container" datatable [dtOptions]="dt3rdOptions">
    <thead>
        <tr>
            <th>Delete?</th>
            <th>Name</th>
            <th>Age</th>
            <th>Job</th>
            <th>Employed</th>
        </tr>
    </thead>
    <tbody>
        <!-- attr.data-row-index needed to prevent drawing a select box if drag starts
            on a row that is not selectable -->
        <tr *ngFor="let person of mockData; let i = index" [attr.data-row-index]="i"
        (mousedown)="onMouseDown(i, $event);"
        (mousemove)="onMouseMove(i);"
        (mouseup)="onMouseUp(i);" 
        [ngClass]="{'selectable': person.isSelectable, 'selected': isSelected(i)}">
            <td><mat-icon (click)="deleteQuestion(i, $event); $event.stopPropagation()">delete</mat-icon></td>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td>{{person.job}}</td>
            <td>{{person.employed}}</td>
        </tr>
    </tbody>
</table>